################################################
#               Survival Games                 #
#                                              #
#                Developed by                  #
#              Double0negative                 #
#                                              #
#                                              #
#              http://mc-sg.org                #
#                 voidmc.com                   #
################################################

#Do NOT touch this!
config-version: 3

#Enable debug messages
debug: false

#Enables the udpdate checker. This will enabled
#anyone with the perm sg.system.updatenotify to
#be notified when a new update is avalible
check-for-updates: true

#Set how many players are needed for the game
#to auto-start. Once the player limit is reached
#it will wait for x amount of seconds for
#additional players. Auto start vote means that
#x percent of players need to vote with /sg vote
#for the game to begin
auto-start-players: 20
auto-start-time: 20
auto-start-vote: 75

#If the player queue is enabled then if a player
#tries to join a game that is not joinable
#(ie ingame) the player will be added to a
#queue line to join the next time the game
#is open
enable-player-queue: true

#If set to true, commands not associated with
#the Survival Games will not be allowed to be run 
#by players in-game.
disallow-commands: true
#If disallow-commands is set to true, you can use
#the cmdwhitelist section below to whitelist certain
#commands.
cmdwhitelist: 
- 'kit' 

#Set how long the grace period for be after the start of 
#the game in seconds.
grace-period: 20

#Controlls if chests should be restocked on the first
#night. If set to true this will also have the side
#effect of setting the world time to day at the start
#of the game. This is only temporary until per-arena time
#has been implemented.
restock-chest: true

#Here you can control block placing and breaking. 
block:
  place:
    whitelist:
    - 18
    - 105
    - 31
    - 37
    - 38
    - 50
    - 103
    - 43
  break:
    whitelist:
    - 18
    - 105
    - 31
    - 37
    - 38
    - 50
    - 103
    - 43

#How many blocks to rollback per-tick
#The higher this settings the fast each
#arena will be reset but will cause more
#lag
rollback:
  per-tick: 100
 

#Settings for when the game nears end. This runs
#when there are only x amount of players
#remaining. If place chest is enabled then
#when the player limit is reached, a chest
#will be placed inside the radius of every 
#remain player containing random items for 
#that player. If fire-lighting is enabled
#then a lighting strike will be fired at the
#location of each player every x seconds to
#notify the other players of their location
endgame:
  players: 3
  fire-lighting:
    enabled: true
    interval: 20
  
  
#If enabled, after x amount of time, each player
#remaing will be teleported to the center of the
#arena for a death match. If they have not been 
#killed after killtime, the game will end.
deathmatch:
  enabled: false
  time: 30
  killtime: 5
  
  
#Settings for connecting to and 
#SQL server. These settings will
#be used for  the online webstats
#Prefix is what all tables used for 
#SurvivalGames will be
#prefixed with. This should stay the same
#for most cases.
sql:
  host: 'localhost'
  port: 3306
  user: 'root'
  pass: ''
  database: 'survivalgames'
  prefix: 'sg_'

  
  
###########################################################
#######################  Stats ############################
###########################################################
  
  
#Settings for the webstats. If enabled, stats 
#such as k/d record, wins, win streaks, kill
#streaks, etc. will be saved. 


stats:
  enabled: false
  webserver:
    enabled: false
    port: 880
  points:
    kill: 10
    win: 100
    position: 7
    killstreak:
      base: 10
      multiplier: 2
  killstreak:
    level1: '&e{player}&7 got a Double Kill!'
    level2: '&e{player}&9 got a Multi Kill!'
    level3: '&e{player}&5 got an Ultra Kill!'
    level4: '&e{player}&4 got an Unbelievable Kill!'
    level5: '&e{player}&a&kii&4&l Unbelievable+!&a&kii'
    
    
    


